<article>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
    </script>
    <link rel="stylesheet" href="/third-party/highlight/styles/default.css">
    <script src="/third-party/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <section class="header">
        Опубликовано $date$<br>
        $if(author)$
        автор: $author$
        $endif$
    </section>
    <section>
        $body$
    </section>
</article>